<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mealkitspringboot.mapper.BomMapper">
    <!-- 내용 작성 -->
    <!-- BOM 현황 - 제품 목록 조회 및 검색 -->
    <select id="getBomList" resultType="org.mealkitspringboot.domain.BomListVo">
        SELECT
            b.BOM_ID, b.PRODUCT_ID, fp.PRODUCT_NM, fp.PRODUCT_SPEC
            , i.LOT_SIZE
            , m.MATERIAL_CLASSIFICATION, b.MATERIAL_ID, m.MATERIAL_NM
            , b.QUANTITY_UNITS, b.BOM_PROD_QUANTITY
        FROM
            BOM b, FINISHED_PRODUCT fp, MATERIAL m, INSTRUCTION i
        WHERE
            b.PRODUCT_ID = fp.PRODUCT_ID
            AND b.MATERIAL_ID = m.MATERIAL_ID
            AND b.LOT_ID = i.LOT_ID
        <if test="searchProdNm != null and searchProdNm != ''">
            AND fp.PRODUCT_NM LIKE '%' || #{searchProdNm} || '%'
        </if>
        <if test="searchProdDiv != null and searchProdDiv != ''">
            AND fp.searchProdDiv LIKE '%' || #{searchProdDiv} || '%'
        </if>
        <if test="searchMatNm != null and searchMatNm != ''">
            AND m.searchMatNm LIKE '%' || #{searchMatNm} || '%'
        </if>
        ORDER BY
            b.BOM_ID, b.PRODUCT_ID, m.MATERIAL_CLASSIFICATION
    </select>
</mapper>